body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
    /*font-family:"Helvetica Neue", Helvetica, Arial;*/
    /*font-family: futura;*/
      overflow: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 20px black;
      border-style: solid;  
    position: absolute;
}
#instagram{
    margin: 20px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}
#twitter{
    
    margin: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
#linkdin{
     margin: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}
 
#sidebar{
     
    background: black;
    width:200px;
    /*height:100%;*/
    display:block;
    position:absolute;
    left:-200px;
    top:0px;
    transition:left 0.3s linear;
}

#sidebar.visible{
    left:0px;
    transition:left 0.3s linear;
}

ul{
    margin:0px;
    padding:0px;
}

ul li{
    list-style:none;
}

ul li a{
    
    color:white;
    border-bottom:1px solid #111;
    display:block;
    width:180px;
    padding:10px;
    text-decoration: none;
}
ul li a:hover{
     text-decoration:line-through;
    color: #fc9dc3;
}
#sidebar-btn{
     
    width:20px;
    height:15px;
    cursor:pointer;
    margin:20px;
    position:absolute;
    top:0px;
    right:-60px;
    font-size: 30px;
}
#sidebar-btn:hover{
  color: #ffe9e3; 
    
}
.viyan{
    font-size: 40px;
  
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    background-color: #f3f3f3; 
    overflow-x: hidden;
    border-radius:15px;


}
svg:hover {
    fill:#ffe9e3;
}

#viyan{
     margin: auto; position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#Notfound{
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 100px;
    /*vertical-align: text-bottom;*/
}

  #Notfound p{  font-size: 200px;}

@media screen and (max-width : 1025px) {
  img{
     width:100px;
      height:auto;
  }
  #Notfound{
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-top: 300px;
    /*vertical-align: text-bottom;*/
}

  #Notfound p{  font-size: 150px;
   position: fixed;
    display: inline-block;
    
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 40%;
    margin: auto;
    overflow-x: hidden;
    border-radius:5px; 
}
}
 
 

body {
    background: linear-gradient(270deg, #18f0b8, #18a2f0, #db5640);
    background-size: 600% 600%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}
    
    
    @-webkit-keyframes Gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes Gradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes Gradient { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


  

