body{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
      overflow: hidden;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      /*border: 20px black;*/
      /*border-style: solid;  */
    position: absolute;
 /*   position: relative;
    max-height: 100%;*/
    background-color: #fc9dc3;
}
#instagram{
    margin: 20px;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}
#twitter{

    margin: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 0px;
}
#linkdin{
     margin: 20px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 0px;
}

#sidebar{

    background: black;
    width:200px;
    /*height:100%;*/
    display:block;
    position:absolute;
    left:-200px;
    top:0px;
    transition:left 0.3s linear;
}

#sidebar.visible{
    left:0px;
    transition:left 0.3s linear;
}

ul{
    margin:0px;
    padding:0px;
}

ul li{
    list-style:none;
}

ul li a{

    color:white;
    border-bottom:1px solid #111;
    display:block;
    width:180px;
    padding:10px;
    text-decoration: none;
}
ul li a:hover{
    text-decoration:line-through;
    color: #fc9dc3;
}
#sidebar-btn{

    width:20px;
    height:15px;
    cursor:pointer;
    margin:20px;
    position:absolute;
    top:0px;
    right:-60px;
    font-size: 30px;
}
#sidebar-btn:hover{
    color: #ffe9e3;

}
.viyan{
/*    font-size: 40px;

    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 75%;
    height: 75%;
    margin: auto;
    background-color: #f3f3f3;
    overflow-x: hidden;
    border-radius:15px;*/


}
svg:hover {
   fill:#ffe9e3;
}

#work{

    display: inline-block;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 70%;
    margin: 50 auto;
    /*background-color: #ffe9e3; */
    overflow-x: hidden;
    border-radius:5px;
}


  img{
    /*border: 5px solid #ffe9e3 ;*/
    /*float: left;
    border-radius: 15px;
  position: relative;
right: 5%;*/
}


h1{
    color: #ffe9e3;
    /*background-color:black; */
    text-align: center;
    border-radius: 52px;
}


p{

}

#work_info{
    clear: both;
    text-align: center;
     text-transform: uppercase;
}
i{

font-size: 30px;
}

h2{ text-transform: uppercase;
    /*text-decoration: underline;*/
}

h3{
    color: #ffe9e3;
}
#Client{
    position: static;
    text-align: center;
    display:inline-block;
    padding: 20px;

    /*padding-left: 0;*/

}

#Role{
    position: static;
    text-align: center;
    display:inline-block;
    padding: 20px;
    /*padding-left: 0;*/

}
#Timeline{
    position: static;
    text-align: center;
    display:inline-block;
    padding: 20px;
    /*padding-left: 0;*/

}



#brief{
    text-align:left;
 /*float:right;*/
    /*top:-450px;*/
    /*position: relative;*/
   /*left: 50%;*/

    /*text-align: right;*/
/* -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    column-gap: 20px;
 */
}


#prototype{
    text-align: center;
}


#prototype a:hover{
    /*content: ursor: pointer;*/
    color: #ffe9e3;
}

.NextPrevious {
    padding: 20px;
    text-align: center;
    clear: both;
   font-weight:bold;

/* position: relative;
 margin: 30px;
*/
}
#Previous{
    color: black;
    padding-right: 100px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;

}
#Next{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;

}

 #Next:hover{
    color:#ffe9e3;
 }

#Previous:hover{
    color:#ffe9e3;
 }
#app{

    position: relative;
    left: 300px;
}


#web{
    text-align: center;
}


#web a:hover{
    cursor: pointer;
    color: #ffe9e3;
}














::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: black;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: black;
}
/*@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}
*/
@media screen and (max-width : 1000px) {

  #sidebar-btn{
font-size: 50px;
} ul li {
font-size: 20px;
}
}
